doctype 5
html
    head
        title feedmaid
        link(rel='stylesheet', href='/css/normalize.css')
        link(rel='stylesheet', href='/css/main.css')
    body.p-front
        header
            h1
                a(href='http://feedmaid.infoviz.org', alt='Homepage') feedmaid
        section.container.clearfix
            div.menu
                ul
                    li.active
                        a.espa(href='/index', alt='home page') Index
                    li
                        a.espa(href='/page1', alt='page1') Page1
                    li
                        a.espa(href='/page2', alt='page2') Page2
                    li
                        a.espa(href='/page3', alt='page3') Page3
            div#root
            a.forkme(href='https://github.com/nocoo/feedmaid', alt='fork me on GitHub')
        footer
            p feedmaid 0.0.1, the MIT License
                a(href='http://about.me/nocoo', alt='about author') @zhengli
                a(href='https://github.com/nocoo/feedmaid', alt='view in GitHub') GitHub
        script(src='/js/jquery-1.8.2.min.js')

