extends layout.login

block content
    section.s-login
        form.fm-form(name='form_login')
            h1 feedmaid
            div.row.clearfix
                div.name
                    p Account
                div.value
                    input(type='text', name='username', value='username')
            div.row.clearfix
                div.name
                    p Password
                div.value
                    input(type='password', name='password', value='password')
            div.row.clearfix
                div.action
                    button.fm-button#btn_login(type='submit') Login
                    button.fm-button#btn_register Register

block append logic
    script
        (function () {
            'use strict';
            /*global seajs*/
            seajs.use([ '/js/page.login.js' ], function (page) {
                page.ready();
            });
        }());
